.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  color: white;
  appearance: none;
  background-color: teal;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button[aria-pressed="true"] {
  background-color: #00796b;
}
